@charset "UTF-8";

body{
    background-image: url(../imagens/fundo02.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: scroll;
    background-color: #EECDD4;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.281);
    background-color: white;
    border-radius: 15px;
    margin: auto;
    max-width: 700px;
    padding: 15px;
}
h1{
    text-align: center;
}

.video{
    background-color: white;
    margin: 0px -10px 20px -10px ;
    padding: 1.6px;
    padding-bottom: 58%;
    position: relative;
}

.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height:90%;
}